

.aa
    {
    font-family: 'calibri';
    width:280px;
    background-color:#00b5ff;
    border-radius: 10px;
    text-align: center;
    margin-top:5%;
    border-radius: 15px;
    box-shadow: 4px 4px rgba(0,0,0,0.5); 
    margin: 0 auto;
    float: none;
    
    }
    
    .aa b
    {
    font-size: 35px;
    text-align:center;
    color:white;  
    }
.aa input[type="text"]{
    width:200px;
    height:30px;
    border:0;
    border-radius:10px;
    padding-left:5px;
    -o-border-radius:5px;
    -moz-border-radius:5px;
    background-color: white;
}
    

.aa input[type="password"]{
    
   
    width:200px;
    height:30px;
    border:0;
    border-radius:10px;
    padding-left:5px;
    padding-left:-5px;
    -o-border-radius:5px;
    -moz-border-radius:5px;
    background-color: white;

    }       

.aa input[type="submit"]:hover{
    
    border:0;
    background-color: #fff;
     color:black;


    }

.paging {
    width:100px;
    height:30px;
     border-radius:5px;
    cursor: pointer; 
    background-color:#055777;
    border:1px solid ;
    color:white;
    font-size: 20px;
    
}

.ch_box{
width:25px;
background-color:white;

}
.link{
 
color:#fff;
padding-top:-100px;
color:black;

}
.link:hover{
 
color:#fff;
padding-top:-100px;

}

